<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header">
	<link rel="stylesheet" href="/css/layui.css">
	<link rel="stylesheet" href="/css/layui.mobile.css"  media="all">
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">
								<label class="col-sm-3 control-label">工号</label>
								<div class="col-sm-8">
									<input id="workId" th:value="${userDO.userId}" name="workNum" class="form-control" type="text" disabled="true">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">姓名</label>
								<div class="col-sm-8">
                                    <input id="name" th:value="${userDO.name}" name="name" class="form-control" type="text" disabled="true">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">开始时间</label>
								<div class="col-sm-8">
									<div class="layui-inline">
										<div class="layui-input-inline">
											<input id="type" type="text" name="beginTime" th:value="${beginTime}"  class="layui-input"  placeholder="yyyy-MM-dd HH:mm:ss">
										</div>
									</div>
								</div>
							</div>

							<div class="form-group">
							<label class="col-sm-3 control-label">结束时间</label>
							<div class="col-sm-8">
								<div class="layui-inline">
									<div class="layui-input-inline">
										<input id="description" type="text" name="endTime" th:value="${endTime}" class="layui-input"  placeholder="yyyy-MM-dd HH:mm:ss">
									</div>
								</div>
							</div>
						</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">状态</label>
								<div class="col-sm-8">
									<input id="sort" name="state" class="form-control" type="text">
								</div>
							</div>


							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/work/myovertime/add.js"></script>
	<script src="../../js/laydate/laydate.js"></script>
	<script>
	laydate.render({
		elem: '#type', //指定元素
        type: 'datetime'
	});
    </script>
	<script>
        laydate.render({
            elem: '#description', //指定元素
            type: 'datetime'
        });
	</script>
</body>
</html>
